*{
    margin: 0;
    padding: 0;

}

body{
   
    background-color: gray;
    background-size: cover;
}

  

nav{
    width:100%;
    height: 60px;
    background-color: silver;
}
nav p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding : 0px 20px;

}

nav ul{
    float: left;

}
.nav{
  position: relative;
}
  
 nav ul li {
     float: left;
     list-style: none;
     position: relative; /* Allows position to be absolute inside sub items inside navigation. */
 }

 nav ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    font-size: 14px;
    padding : 22px 14px;
    display: block;
    text-decoration: none;
 }

 nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 1px;
    border-radius:0px 0px 4px 4px;
    z-index: 999;
 }

 nav ul li:hover ul{
    display: block;
    
 }


 nav ul li ul li {
   width: 148px;
   border-radius:4px;
}

 nav ul li ul li a {
    padding: 8px 12px;
}

nav ul li ul li a:hover {
background-color: gray;
}




  
  h2 {
    color: gold; 
    text-decoration: underline
  }
  .boxed {
    background-color: #27496d;
    border: 15px solid blue ;
    text-align: center;
    font-weight: bold;
    padding: 15px 15px 20px 20px;
   opacity: .8;
    margin: 80px
  }
.boxed h1 {
   color:#00a8cc;
    font-family: Luminari, fantasy;
    text-decoration: underline;
}

